
<div id="header">
    <h1 class = "header-text">Tamal Krishna Dey</h1>
    <p id = "subheader">Department of Computer Science and Engineering</p>
    <%= image_tag 'osu.jpg', :class => 'header-img' %>
    <div id = "navbar">
        <ul>  
        <li><%= link_to 'Home', './index.html' %></li>
        <li><%= link_to  'Professional Activities', './professionalActivities.html' %></li>
        <li><%= link_to 'Publications', './publications.html' %></li>
        <li><%= link_to 'Research', './research.html' %></li>
        <li><%= link_to 'Teaching', './teaching.html' %></li>
    </ul>
    </div>
</div>
