---
title: Tamal K. Dey
---

<!-- Homepage -->
<div class = "homepage">

    <!-- Professor Dey's information -->
    <%= image_tag 'tamal.png'%>
    <h2 class = "commonHeader"> About Me </h2>
    <p>Email: tamaldey@cse.ohio-state.edu </p>
    <p>Joining from Aug 17, 2020 </p>
    <p>Department of Computer Science Purdue University </p>
    <p>Email: tamaldey@purdue.edu </p>
    <div class = "educationTable">
        <table>
        <tr>
        <td>Education</td>
        <td>University</td>
        <td>Date</td>
        </tr>
        <tr>
        <td>Post Doctorate</td>
        <td>U. of Illinois, U-C</td>
        <td>1991-1992</td>
        </tr>
        <tr>
        <td>PhD</td>
        <td>Purdue University</td>
        <td>1988-1991</td>
        </tr>
        <tr>
        <td>M.E.</td>
        <td>IISC, Bangalore</td>
        <td>1985-1987</td>
        </tr>
        <tr>
        <td>B.E.</td>
        <td>Jadavpur University, Calcutta</td>
        <td>1981-1985</td>
        </tr>
        </table>
    </div>

    <!-- Professor's homepage links -->
    <div class = "home-links">
        <h2 class = "commonHeader"> Links </h2>
        <ul>
        <li> <%= link_to 'Curriculum Vitae', 'http://www.cse.ohio-state.edu/%7Etamaldey/cv.pdf' %></li>
        <li><%= link_to 'Fellow ACM', 'https://www.acm.org/media-center/2018/december/fellows-2018' %></li>
        <li><%= link_to 'Fellow IEEE', 'https://www.computer.org/web/pressroom/CS-Fellows-2017' %></li>
        <li><%= link_to 'Fellow SMA', 'http://solidmodeling.org/awards/sma-fellows/sma-fellows-2019/' %></li>
        <li><%= link_to 'Department of Computer Science and Engineering', 'https://www.cse.ohio-state.edu/' %></li>
        </ul>
    </div>
</div>